# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django temporary DB files
db.sqlite3-journal

# Environments and Virtualenvs
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
